doctype html
html
  head
    block head
      block title
        title Sahale
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/tipsy.css')
      link(rel='stylesheet', href='/css/app.css')
      link(rel='stylesheet',href='/css/wait.css')
      link(rel='shortcut icon', href='/images/favicon.ico')
      | <style>
      | body { padding-top: 60px; }
      | </style>
      script(src='/scripts/jquery-1.11.0-pre-min.js')
      script(src='/scripts/jquery-tipsy.js')
      script(src='/scripts/bootstrap.min.js')
      script(src='/scripts/d3.v3.min.js')
      script(src='/scripts/dagre-d3.js')
      script(src='/scripts/state-util.js')
      script(src='/scripts/data-util.js')
      script(src='/scripts/view-util.js')
      script(src='/scripts/chart-util.js')
      script(src='/scripts/graph-util.js')
      script(src='/scripts/area-util.js')
      script(src='/scripts/toggle-util.js')
      script(src='/scripts/stackedbar-util.js')
      script(src='/scripts/Kiwi.js')
      script(src='/scripts/moment.min.js')
  body
    include flowgraph-header

    block content

    include footer
