extends index-layout

block content

  div.container

    div.panel.panel-default
      div.panel-heading(style='text-align:center')
        h3 Running Jobs
      div.panel-body
        table.table.table-hover.table-striped.table-condensed#running

    div.panel.panel-default
      div.panel-heading(style='text-align:center')
        h3 Completed Jobs
      div.panel-body
        table.table.table-hover.table-striped.table-condensed#completed

  script(src='/scripts/index-client.js')

