div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        | Sahale
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') All Jobs
        li
          a.dropdown-toggle(data-toggle='dropdown') Load View
            ul.dropdown-menu#load-view-dropdown
              li
                a(href='/load/All') All Clusters
        li
          a(href='/help') Help
      div(class='col-sm-3 col-md-3 pull-right')
        form(class='navbar-form', role='search')
          input(type='text', class='form-control', placeholder='Search By Job Name', formaction='/search', name='searchterm', id='searchterm')
